html,
body {
    margin:0;
    padding:0;
    height:100%;
}
#wrapper {
    min-height:100%;
    position:relative;
}
#header {
    padding:10px;
    background:#b8e6e6;

}
#container {
    margin: 25px;
    padding: 5px;
}
#content {
    width: 600px;
    padding:10px;
    padding-bottom:80px; /* Height of the footer element */
}
#footer {
    width:100%;
    height:80px;
     
    position: absolute;
    bottom:0;
    left:0;
    text-align: center;
    font-style: italic;
    background-color: #3d4c4c;
    color: #ffffff;
    background:#3d4c4c;
    text-shadow:1px 1px 0 rgba(255,255,255,0.3);
}


h1 {
    
    text-align: center;
    font-family: sans-serif;
}

h2 {
    
    text-align: center;
    font-family: sans-serif;
}
 
 
table {
    border-collapse: collapse;
    text-align: center;
  
    margin: 45px;
    padding: 0px;
    width:50%;
    box-shadow: 10px 10px 5px #888888;
    border:1px solid #000000;
    
    -moz-border-radius-bottomleft:14px;
    -webkit-border-bottom-left-radius:14px;
    border-bottom-left-radius:14px;
	
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: center;
}



 

section.area1 {
/*    width: 600px;   */
    background-color: #ffffcc;
    visibility: hidden;
    position:  absolute;
    overflow: scroll;
}
section.area2 {
/*    width: 600px;    */
    background-color: #dcdcdc; 
    visibility: hidden;
    position: !important;
    overflow: scroll;
}