body {
    
    
    display: block;
    
}

section.area1 {
    width: 600px;
    background-color: #ffffcc;
    visibility: hidden;
    position:  absolute;
    overflow: scroll;
}
section.area2 {
    width: 600px;
    background-color: #dcdcdc; 
    visibility: hidden;
    position: !important;
    overflow: scroll;
}